.App {
    @at-root body:has(.App) {
        background: rgb(117, 117, 117);
    }

    $width: 210mm;
    $height: 297mm;

    @media print {
        .link {
            display: none;
        }
    }

    .pdfPage {
        background: white;
        width: $width;
        min-width: $width;
        // max-width: $width;

        box-sizing: border-box;
        --feature-color: #20b8a9;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;

        position: relative;

        >.lang {
            position: absolute;
            top: 0;
            align-self: center;
            // opacity: 0;
            z-index: 4;

            @media print {
                display: none;
            }

            >* {
                border: 0.14em gray;
                border-style: groove;

                &:first-child {
                    border-right: 0.4em;
                }

                &:last-child {
                    border-left: 0.4em;
                }
            }


            >.toggleLanguage {
                padding: 0.6em;
                padding-top: 0.4em;
                border-radius: 0 0 0 1em;
                box-sizing: border-box;
            }

            >.pdf {
                border-radius: 0 0 1em 0;
            }
        }

        &:hover {
            >.lang {
                transition: opacity 400ms;
                opacity: 1;
            }
        }

        @media print {
            &:not(:global(#pdf-content)) {
                display: none;
            }

            * {
                -webkit-print-color-adjust: exact !important;
                print-color-adjust: exact !important;
            }
        }
    }
}