.Utils {
    align-self: center;
    position: fixed;
    top: 0;
    opacity: 0;
    z-index: 4;
    align-items: stretch;

    @media print {
        display: none !important;
    }

    >* {
        border: 0.14em gray;
        border-style: groove;

        &:first-child {
            border-right: 0.4em;
        }

        &:last-child {
            border-left: 0.4em;
        }
    }


    >.toggleLanguage {
        padding: 0.6em;
        padding-top: 0.4em;
        border-radius: 0 0 0 1em;
        box-sizing: border-box;
    }

    >.pdf {
        border-radius: 0 0 1em 0;
    }
}