@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=JetBrains Mono');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
@import url("https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font@master/fonts.css");
@import url("https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font@master/fonts.css");

.ReleasePage {
    p {
        margin: 0;
    }

    >* {
        font-size: 11px;
    }

    .head {
        background: #374457;
        color: white;


        >*:first-child {
            padding-block: 2em 1em;
            padding-inline: 3em;
            row-gap: 0.5em;
        }

        >*:nth-child(2) {
            padding-inline: 1em;
        }

        .quote {
            padding-left: 1.5em;
        }

        .toggleLanguage {
            all: revert;
            outline: none;
            border: 0;
            position: absolute;
            top: 0;
            right: 0;
            appearance: none;
            border-radius: 0 0 0 0.8em;

            $padding: 0.5em;
            padding-left: $padding;
            padding-bottom: $padding;
            padding-top: $padding * 0.75;
            padding-right: $padding * 0.5;
            font-size: 2.5em;
            // font-weight: bold;
            // $border: 0.16em #29343d solid;
            // border-left: $border;
            // border-bottom: $border;
            background-color: #ffffff;
        }

        >.contacts {
            background: #29343d;
            justify-content: space-between;

            >* {
                padding: 0.6em;
            }

            :global .preferably {
                color: black;
                background: #ffd23f;
                font-weight: bold;

                svg {
                    fill: black
                }
            }

            a {
                color: white
            }

            svg {
                fill: white
            }
        }
    }

    main {
        padding-inline: 3.2em;
        padding-block: 2.2em;
        column-gap: 3em;
        height: 100%;
        // align-items: center;

        >* {
            width: 50%;

            >.block {
                h2 {
                    color: var(--feature-color);
                    font-size: 1.7em;
                    margin: 0;
                    margin-bottom: 0.5em;
                    text-underline-offset: 0.2em;
                    text-decoration-thickness: 0.15em;
                }

                &:not(&:first-child) {
                    margin-top: 2em;
                }
            }

            >*:not(.block) {
                margin-top: 0.8em;
            }

            >.other {

                ol,
                ul,
                p {
                    margin: 0;

                    &:is(ul) {
                        padding-left: 1.8em;
                    }
                }

                >p,
                >div {
                    border-bottom: 0.1em solid black;

                    &:last-child {
                        border-bottom: none;
                    }

                    padding-block: 0.5em;

                    svg {
                        $size: 2.3em;

                        width: $size;
                        height: $size;

                        &[id="codewars"] {
                            width: $size - 0.3em;
                            height: $size - 0.3em;
                        }
                    }
                }
            }
        }
    }
}